<!DOCTYPE html>
<html>
<head>
<style>
         {
	 background-color:lightgreen;
	 }
h1   {
	 color:blue;
	 }
p    {
	 color:red;
     }
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    color: brown    
}
</style>
</head>
<body>

<h1>welcome to the application</h1>
<p>This is ruby on rails class</p>

<h2>The class schedule is as follows:</h2>
<table style="width:100%">
  <tr>
    <th>DAY</th>
    <th colspan="2">TIMINGS</th>
  </tr>
  <tr>
    <td>monday</td>
    <td>9pm to 10pm</td>
  </tr>
 <tr>
    <td>tuesday</td>
    <td>9pm to 10pm</td>
  </tr>
 <tr>
    <td>wednesday</td>
    <td>9pm to 10pm</td>
  </tr>
 <tr>
    <td>thursday</td>
    <td>9pm to 10pm</td>
  </tr>
 <tr>
    <td>fri,sat and sundays</td>
    <td>No-Class</td>
  </tr>
</table>

</body>
</html>