<div class="jumbotron">
  <h1>welcome folks</h1>
  <p>this is ruby on rails class</p>
  <p>sign up <%= link_to "Click here","#" %></p>
</div>
<h1>welcome to the application</h1>
<p>This is ruby on rails class</p>
<p>sign up <%= link_to "Click here","#" %></p>
<p>sign up <%= link_to "About Us",about_path %></p>

